<h2>Post from <%=@user.name%></h2>
<div>
  <%= render 'partials/user', user: @user %>
  </div>
  <div class='bio'>
    <h4>Bio</h4>
    <p><%= @user.bio %></p>
  </div>
  <ul class='post'>
    <% @user.return_recent_posts.each do |post| %>
      <%=  render 'partials/post', post: post %>
      <a href="/users/<%= @user.id %>/posts/<%= post.id %> ">
        see more post
      </a>
    <% end %>
  </ul>

  <a href="#">
    <button class='load-btn'> Load More </button>
  </a>